$brand-primary: hsla(48, 50%, 70%, 1);
$font-family-serif: "Spectral", Georgia, "Times New Roman", Times, serif;
$font-family-sans-serif: "Fira Sans", sans-serif;
$blockquote-font-size: 1rem;
$blockquote-border-color: #BBB;
$card-columns-count: 2;