<!DOCTYPE html>
<html lang="{{ .Lang }}">
  <head>
    {{ partial "head-meta.html" . }}

    {{ block "schema-dot-org" . }}
      <!-- schema.org metadata differs for Nodes and Pages -->
    {{ end }}
    <link rel="canonical" href="{{ .Permalink }}">
    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
    {{ if .RSSLink }}
    {{ "<!-- RSS 2.0 feed -->" | safeHTML }}
    <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
    {{ end }}
    <link rel="prefetch" href="{{ .Site.BaseURL }}images/wmo_stripes_dark.png">
    <link rel="prefetch" href="{{ .Site.BaseURL }}images/wmo_stripes_bg.png">

    <link rel="manifest" href="/manifest.json">
    <link rel="apple-touch-icon" href="images/icon-192.png">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="Content-Security-Policy" content="default-src https:; worker-src 'self'">

    <link href="{{ .Site.BaseURL }}css/style8.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display|Spectral|Fira+Sans" rel="stylesheet"> 
    <meta name="google-site-verification" content="qfHfoYPUsYo-Od3gvLagaJ4VT4aQ0CeyKqiQVfpnijM" />
    <script defer src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script defer src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/solid.js" integrity="sha384-6FXzJ8R8IC4v/SKPI8oOcRrUkJU8uvFK6YJ4eDY11bJQz4lRw5/wGthflEOX8hjL" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/fontawesome.js" integrity="sha384-xl26xwG2NVtJDw2/96Lmg09++ZjrXPc89j0j7JHjLOdSwHDHPHiucUjfllW0Ywrq" crossorigin="anonymous"></script>    
    <script defer>
      if ('serviceWorker' in navigator) {
        window.addEventListener('load', function() {
          navigator.serviceWorker.register('/sw.js').then(
            function(registration) {},
            function(err) { console.log('ServiceWorker registration failed: ', err); });
        });
      }
    </script>
  </head>

  <body>    
    <nav class="navbar navbar-expand-lg navbar-dark">
      <div class="container">
        <a class="navbar-brand" href="{{ .Site.BaseURL }}" rel="home">{{ .Site.Title | safeHTML }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link {{ if .IsHome }} active {{ end }}" href="{{ .Site.BaseURL | absLangURL }}">{{ i18n "home" }}</a>
            </li>
            {{ range where .Site.RegularPages "Type" "!=" "post" }}
            <li class="nav-item">
              <a class="nav-link {{ if eq $.URL .URL }} active {{ end }}" href="{{ .Permalink }}">{{ .Title }}</a>
            </li>
            {{ end }}
            <li class="nav-item">
              <a class="nav-link" href="https://cse.google.com/cse/publicurl?cx=000227669616995546615:brudp0zzccw">{{ i18n "search" }}</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <main class="container">
      <div class="row">
        <div class="col-sm-12 blog-main">
          
          {{ block "main" . }}
          <!-- The part of the page that begins to differ between templates -->
          {{ end }}

        </div> {{ "<!-- /.blog-main -->" | safeHTML }}

        {{ partial "sidebar.html" . }}

      </div> {{ "<!-- /.row -->" | safeHTML }}
     </div> {{ "<!-- /.row -->" | safeHTML }}
    </main> {{ "<!-- /.container -->" | safeHTML }}

    <footer class="blog-footer">
      {{ if .Site.Copyright }}
      <p>
      {{ .Site.Copyright | markdownify }}
      </p>
      {{ end }}
      <p>
        <a href="#" class="nav-link">{{ i18n "backToTop" }}</a>
      </p>
    </footer>
  </body>  
</html>