{{ $dateFormat := default "Mon Jan 2, 2006" (index .Site.Params "date_format") }}

<div class="card">
  {{ $image := .Page.Resources.GetMatch "*" }}
  {{ if $image }}
  {{ $image320 := $image.Resize "320x" }}
  {{ $image540 := $image.Resize "541x" }}
  <a href="{{ .Permalink }}">
    <img class="card-img-top"
      src="{{$image320.RelPermalink}}" 
      srcset="{{$image320.RelPermalink}} 320w, {{$image540.RelPermalink}} 540w"
      loading="lazy"
    >
  </a>
  {{ end }}
  <div class="card-body">
    <div class="blog-post-meta">
      <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Date.Format $dateFormat }}</time>
    </div>
    <h2 class="blog-post-title"><a href="{{ .Permalink }}">{{ .Title | markdownify }}</a></h2>    
    <div class="card-text">
      {{ .Summary }}
      <a href='{{ .Permalink }}'>{{ i18n "readMore" }}</a>
    </div>
  </div>
</div>
